@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-container{
    border-radius: 200px;
    width:100%;
    height:auto
}

.icon{
  background-color:black
}

.intro-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    padding:30px;
}

.image{
    padding:20px;
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex:1;
    z-index:2;
    animation: float 2s ease-in-out infinite;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    text-align: left;
    padding-left: 20px;
}

.first{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: left;
}

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .float-animation {
    animation: float 2s ease-in-out infinite;
  }

  h1{
    font-size: 4vw;
    padding: 1px;
    font-weight: bold
  }

  @media (min-width: 768px) { /* Medium screens (tablets) */
    h1 {
      font-size: 4vw;
    }
  }
  
  @media (min-width: 1200px) { /* Large screens (desktops) */
    h1 {
      font-size: 3vw;
    }
  }

  .love{
    text-align: left;
    font-size: 3vw;
  }

  @media (min-width: 768px) { /* Medium screens (tablets) */
    .love {
      font-size: 3vw;
    }
  }
  
  @media (min-width: 1200px) { /* Large screens (desktops) */
    .love {
      font-size: 2vw;
    }
  }