.nav{
    justify-content: space-between;
    background-color: red
}

.btn-container{
    background-color:transparent;
    border: solid;
    border-color: #64B5F6;
    border-radius: 10%;
}

.icon{
    background-color:transparent;
    border: none;
}