.cont{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:70%;
    padding:20px
}

.web-dev{
    color: #9fcccd;
    font-size: 26px;
}

.aboutme{
    display:flex;
    align-items:center;
    justify-content:center;
}
