.skills{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:;
}

.all{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}